Package: libnmpp-dev
Version: 1.0.7
Architecture: amd64
Installed-Size: 40
Maintainer: NekoMimiOfficial <nekomimi@tilde.team>
Section: devel
Priority: optional
Homepage: http://nekomimi.tilde.team
Description: A C++ library that exposes a lot of helpful features to aid development
